{% extends "base.html"%}
{% block start %}

<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg p-3 mb-5 bg-white rounded" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="text-center">update Recepe</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1">Recepi Name</label>
          <input name="recipe_name" value="{{recepi.recipe_name}}" type="text" class="form-control">
            
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1">Recepi Descriptions</label>
            <textarea class="form-control" name="recipe_description">{{recepi.recipe_description}}</textarea>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1">Recepi image
            <input name="recipe_pic" type="file" class="form-control">
        </div>

        <button type="submit" class="btn btn-success">update recepi</button>

      </form>
  
     
</div>

{% endblock %}